*.o
*.la
*.lo
*.in
*.m4
*.log
config.status
libtool
Makefile
config
configure
test/.deps/
test/.libs/
src/.deps/
src/.libs/
src/libWhistGame/.deps/
src/libWhistGame/.dirstamp
src/AI/.deps/
src/AI/.dirstamp
src/WhistGameGUI/.deps
src/WhistGameGUI/.dirstamp
src/config.h
src/stamp-h1
src/Whist
autom4te.cache/
test/run-test.sh.trs
ipch/
*.suo
*.sdf
*.opensdf
Debug/
