*.o
*.la
*.lo
*.in
*.m4
*.log
config.status
libtool
Makefile
config
configure
test/.deps/
test/.libs/
src/.deps/
src/.libs/
src/libWhistGame/.deps/
src/libWhistGame/.dirstamp
src/AI/.deps/
src/AI/.dirstamp
src/Graphics/.deps
src/Graphics/.dirstamp
src/ClientWhist/.deps
src/ClientWhist/.dirstamp
src/ServerWhist/.deps
src/ServerWhist/.dirstamp
src/ServerWhist/database/.deps
src/ServerWhist/database/.dirstamp
src/ServerWhist/parser/.deps
src/ServerWhist/parser/.dirstamp
src/ServerWhist/server/.deps
src/ServerWhist/server/.dirstamp
src/config.h
src/stamp-h1
src/Whist
src/ClientTest
src/Server
autom4te.cache/
test/run-test.sh.trs
ipch/
*.suo
*.sdf
*.opensdf
Debug/
